
{% extends "base.html" %}


{% block title %} List {% endblock  %}


{% block body %}
    <div class="container">
        <h1 class="is-size-2 has-text-primary">Search History</h1>

        <div class="box column" id="content">

            {% include "searchHistory/content_list.html" %}

        </div>
    </div>
{% endblock body %}


{% block javascript %}
    <script charset="utf-8">
        let current_page = {{ searched_items.number }}
        console.log(current_page)

        function validate_pageNO(pageNo){
            //Validate and fix out of range pageNo
            let maxPageNo = {{ searched_items.paginator.num_pages }}
            let minPageNo = 1
            if(pageNo > maxPageNo) {
                pageNo = maxPageNo - 1
            }
            if (pageNo < minPageNo) {
                pageNo = minPageNo + 1
            }
            return pageNo
        }


        function handleNextPage() {
            //Handle Pagination next page without reload
            current_page = validate_pageNO(current_page)
            $.ajax({
                url: "{% url 'search_history:list' %}",
                type: 'get',
                data: {page: current_page + 1},
                success: function (data) {
                    current_page += 1
                    $('#content').html(data)
                }
            })
        }

        function handlePrevPage() {
            //Handle Pagination next page without reload
            $.ajax({
                url: "{% url 'search_history:list' %}",
                type: 'get',
                data: {page: current_page - 1},
                success: function (data) {
                    current_page -= 1
                    $('#content').html(data)
                }
            })
        }

    </script>


{% endblock javascript %}


